.actions {
    img {
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }
    .git {
        &:active {
            :global {
                animation: active 1s 1;
            }
        }
    }
}
.doneRatio {
    background-color: #0f0;
    display: block;
    height: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
}
.issue {
    img,
    small,
    strong,
    svg {
        cursor: pointer;
    }

    small {
        display: block;
    }
}
.parent {
    color: inherit;
    float: right;
}