.actions {
    img {
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }
}
.doneRatio {
    background-color: #0f0;
    display: block;
    height: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
}
.issue {
    img,
    small,
    strong,
    svg {
        cursor: pointer;
    }

    small {
        display: inline-block;
    }
}
.parent {
    color: inherit;
    float: right;
}