.background {
    background-color: rgba(#ccc, .7);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.close {
    cursor: pointer;
    font-size: 2em;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 5px;
}
.popup {
    background-color: #fff;
    max-width: 100%;
    padding: 30px;
    position: relative;
    width: 500px;
    z-index: 1;
}
.wrapper {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}