.button {
    border: none;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: auto;
    min-width: 150px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .5s ease-in-out;

    &:hover {
        background-color: darken(#aaa, 5%);
    }
}
.spinner {
    display: inline-block;
    vertical-align: middle;
}