.popupList {
    margin: 0;
    padding: 0;

    li {
        cursor: pointer;
        float: left;
        margin: 10px 10px 10px 30px;
    }
}
.wrapper {
    display: block;
    margin: 10px auto;
    text-align: center;

    button {
        margin: 0 5px;
    }
}